thead {
    background-color:hsl(209, 100%, 90%);
}

.enter_draw {
    background-color:hsl(90, 100%, 80%);
}

.do_not_enter_draw {
    background-color:hsl(0, 100%, 90%);
}

tr:hover{
    background-color:gray;
    cursor:pointer;
}

.add_team {
    float: right;
    width: 20%;
    padding: 5px;
}

.add_member {
    float: left;
    width: 25%;
    padding: 5px;
}

.assign_teams_list {
    width: 100%;
}

.team_checkbox {
    margin: 5px !important;
}